<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="resetPasswordContainer">
        <h1>Restablecer Contraseña</h1>
        <form action="/reset-password/<%= token %>" method="POST">
            <label for="password">Nueva Contraseña:</label>
            <input type="password" id="password" name="password" required>
            
            <label for="confirmPassword">Confirmar Contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            
            <button type="submit">Restablecer Contraseña</button>
        </form>
    </div>
</body>
</html>
